<!-- HTML Head -->
<head>
    <!-- Browser Tab -->
    <title>Cycoin<% if (user) { %> | <%= user.userName %><% } %></title>
    <link rel="icon" href="images/logo.svg">
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Cycoin pro-recycling application">
    <meta name="keywords" content="AWPS, Recycling, Cryptocurrency, Crypto, Economy, IT, Finance, Digital Bin, Bin, Digital, Environment">
    <meta name="author" content="APWS 2021/2021 Seniors, Mohamad Saif Bakour (Swordax), Khalifa Hkalid Alshamsi (Khx), Mohamad Khalil Musharbek (Argent), Zayed Jumaa Alali (Zackie), Salem Shehab Alqasimi (Wizper)">
    <!-- External Libraries and Links -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- Font Links -->
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Almarai&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Almarai&family=Baloo+Bhaina+2&display=swap" rel="stylesheet">
    <!-- Enternal Files Links -->
    <base href="/">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <!-- Common Scripts -->
    <script src="js/numberFormatter.js" defer></script>
    <script src="js/themeController.js" defer></script>
    <script src="js/script.js" defer></script>
</head>